<h2 align="center">👋 Hello! I'm Stefan.</h2>
<p align="center">
  <a href="https://stefanrs.me">Website</a> •
  <a href="https://twitter.com/stefan_r_s">Twitter</a>
</p>


- 🔭 I’m currently working on **A billion projects**
- 🌱 I’m currently learning **Go**
- 📫 How to reach me: [@stefan_r_s](https://twitter.com/stefan_r_s) on Twitter
- ⚡ Fun fact: Big Fan of the :shrug: emoji

-------
📊 **Weekly development breakdown**
#### Coding activity (past 7 days)